body{
	 background: linear-gradient(to left, #444487, #2e8acc);
	 background-repeat: no-repeat;
}

.navbar {
	box-shadow: 2px 2px 40px #000000;
	padding-left: 223px;	
}

.jumbotron {
	box-shadow: 2px 2px 40px #000000;
	border-radius: 25px;
	padding: 20px 40px;
	margin: 0 auto;
	width: 527px;
}

.jumbotron-blog {
	width: 664px;
}

p#welcome{
	text-align: center;
}
p#response{
	text-align: center;
}

.input table {
	cellspacing: 3px;
	margin-left: 40px;
}
.input table td{
	padding: 10px;
}
.input table td button {
	box-shadow: 1px 1px 2px #888888;
	margin-top: 15px;
	margin-left: 15%;
}
.input table td button:hover{
	box-shadow: 2px 2px 4px #888888;
}

.txt table td button {
	margin-left: 10%;
}

#blog{
	height: 220px;
	width: 563px;
	
	
}