body{
	background: linear-gradient(to left, #444487, #2e8acc);
	color: #FFFFFF;
}

.navbar {
	box-shadow: 2px 2px 40px #000000;
	padding-left: 223px;	
}

.jumbotron {
	background-color: hsla(328, 37%, 41%, 0.18) !important;
	box-shadow: 2px 2px 40px #000000;
	border-radius: 25px;
	padding: 20px 40px;
	margin: 0 auto;
	width: 527px;
}

.jumbotron-blog {
	width: 664px;
}

.panel{
	margin: 0 auto;
	width: 664px;	
}

p#welcome{
	color: #FFFFFF;
	text-align: center;
}
p#response{
	color: #FFFFFF;
	text-align: center;
	margin-top: 4%
}
p#bwelcome{
	color: #FFFFFF;
	font-size: 3.5em;
	text-align: center;
}
p#bresponse{
	color: #FFFFFF;
	margin-top: 4%;
	font-size: 2.8em;
	text-align: center;
}
.input table {
	cellspacing: 3px;
	margin-left: 40px;
}
.input table td{
	padding: 10px;
}
.input table td button {
	box-shadow: 1px 1px 2px #888888;
	margin-top: 15px;
	margin-left: 15%;
}
.input table td button:hover{
	box-shadow: 2px 2px 4px #888888;
}

.txt table td button {
	margin-left: 10%;
}
#t{
	color: #ffffff;
	
	
}
#b{
	margin: 8%;
	width: 84%;
	height: 220px;
}
#bButton{
	margin-left: 10%;	
}
